footer {
    padding : 3rem 2vw;
    background-color: var(--clr-p4);
    color : #fff;
    text-align : center;
}

footer a {
    color : #fff;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color : var(--clr-s1);
}

.footer-nav a:hover img, 
.footer-nav a:focus img {
    filter: brightness(50%) sepia(90%) hue-rotate(330deg);
}

.footer-nav ul {
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    gap : 1rem;
}

.footer-logo {
    margin-block: 2rem;
    mix-blend-mode: screen;
}

.footer-credits a {
    text-decoration: underline;
}