

.hero-image {
	/* margin-bottom : 6rem; */
    position: relative;
	border-radius: 10px;
	overflow: hidden;
    background-image: url(/img/hero-image-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size : contain;
	height : 100vh;

	max-height: 800px;
}

@media screen and (min-width : 700px) {
	
	.hero-image {
		background-image: url(/img/hero-image.jpg);
        /* background-size: 100%; */
		background-size : cover;
        background-position: center bottom 100px;
    }
	
}

@media screen and (min-width : 1000px) {
	
	.hero-image {
		background-image: url(/img/hero-image-wide.jpg);
		background-size : cover;
        background-position: center bottom 100px;
    }

}

.hero {
    position: relative;
	outline-color: yellow;
	display : grid;
}

@media screen and (min-width : 700px) {
	.hero {
		position : absolute;
		inset : 0;
		grid-template-columns: 300px 1fr;
		align-items: end;
	}
}



.hero-content {
    padding : 15vh 2rem 1rem 2rem;
    
    /* background-color: hsla(0, 0%, 0%, 0.85); */
    background-color: hsl( var(--color-primary-500), 0.9 );
    color : #fff;
}

@media screen and (min-width : 700px) {
    .hero-content {
        max-width: 400px;
		align-self: stretch;
		/* min-height : 50vh; */
        /* margin : 0vh 0 12vh 2vw; */
    }
}



.hero-headline p {
    margin-bottom : 1rem;
    font-size: 2.2rem;
	font-family : var(--font-h1);
    line-height: 3rem;
    text-transform: uppercase;
}

.hero-content h1 {
    font-size : 1.1rem;
    font-weight : 100;
    line-height : 1.7rem;
}








.hero-cards {
	/* padding-top : 60vh; */
    display : grid;
    column-gap : 0.5rem;
    row-gap : 2rem;
}

@media screen and (min-width : 700px) {
    .hero-cards {
        grid-template-columns: 1fr 1fr;
		gap : 0;
    }
}

@media screen and (min-width : 1100px) {
    .hero-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
		/* transform: translateX(-3rem) */
    }
}


.hero-card {
    border-radius: 0.3rem;
    overflow: hidden;
    background-color: #fff;

	display : grid;
	grid-template-rows : auto auto;
}

.hero-card:nth-child(2n) {
	background-color: hsl(204, 46%, 95%);
}
.hero-card:nth-child(2n -1) {
	background-color: hsl(204, 46%, 90%);
}

.hero-card-title {
	display : grid;
	grid-template-rows: auto auto;
}

.hero-card-title img {
	width : 100%;
	aspect-ratio: 1 / 0.5;
	object-fit: cover;
}

.hero-card h3 {
	padding : 0.5rem 1rem;
	background: hsl( var(--color-primary-500),0.9 );
    font-size: 1.2rem;
	letter-spacing: 0.1rem;
}

.hero-card:nth-child(2n) h3 {
	background: hsl( var(--color-primary-500), 1 );
}

.hero-card h3 span {
	display : inline-block;
    max-width: 5ch;
}

.hero-card a {
	position: relative;
    display : block;
    color : #fff;
    text-decoration : none;
    text-transform : uppercase;
}

.hero-card a:hover::after {
    content : '';
    position : absolute;
    z-index: 30;
    inset : 0;

    background-color: hsl( var(--color-secondary-200) );
    mix-blend-mode: color;
    opacity : 0.5;
}


.hero-card p {
    margin : 1rem 1rem;
	font-size: 0.9rem;
}