---

import BaseLayout from "../layout/BaseLayout.astro";
import { homePagePostsQuery } from "../lib/api";

const data = await homePagePostsQuery()
const posts = data.posts.nodes
---

<BaseLayout title="Home">

	{posts.map( (post:{ uri:string, title:string }) => (
		<pre>
			{ JSON.stringify(post, null, 2) }
			
		</pre>
		<a href={post.uri}>{post.title}</a>
	))}
</BaseLayout>

