---
import { getPages } from "../lib/api";

let pages = await getPages()
pages.sort( (a,b) => a.menu_order - b.menu_order)
---


<ul>
    {pages.map( page => (
        <li>
            <a href={page.slug}>
                {page.title?.rendered}
            </a>
        </li>
    ))}
</ul>