.about {
    background-color: #fff;
}

.about-content {
    padding: 2rem 2vw 4rem;
    background-color: var(--color-primary-300);
    color : #fff;
}

.about h2 {
    padding-inline : 2vw;

    color : var(--color-primary-300);
    font-family: var(--font-h1);
    font-size : 2.5rem;
    font-weight : 300;
}


.about p {
    margin-bottom : 1.5rem;
}

.about-image {
    text-align: center;
}

.about-image img {
    width : 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transform: translateY(-4rem);
}

@media screen and (min-width : 800px) {
    .about {
        padding : 0;
        background-color: var(--color-primary-300);
    }


    .about h2 {
        position: absolute;
        top : -3rem;
        left : 2vw;
    }

    .about-content {
        padding-block : 2rem;
    }
    
    .about-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }

    .about p {
        max-width: calc(100% - 6rem);
    }

    .about-image img {
        aspect-ratio: initial;
        transform: scale(1.2) translateX(-3rem);
    }
}








.social-media {
    margin-block : 4rem;

    background-color: var(--color-secondary-300);
    font-size: 2rem;
    font-weight : 600;
    color : #fff;
}

.social-media-grid {
    display : flex;
    flex-wrap : wrap;
    justify-content: space-between;
    align-items: center;
    gap : 2rem;
    padding : 3rem;

}

.social-media-text {
    margin-inline : auto;
    min-width : 10ch;

    text-align : center;
}

.social-media-icons {
    display : flex;
    gap : 2rem;
    min-width : max-content;
    margin-inline : auto;
}






.latest a {
    text-decoration: none;
}

.latest h2 {
    padding-inline : 2vw;
    
    color : var(--color-primary-300);
    font-family: var(--font-h1);
    font-size : 2.5rem;
    font-weight : 300;    
}



.article-img {
    padding-inline : 1rem;
}

.article-img img {
    width : 100%;
}

.article-content {
    position: relative;
    padding-inline : 1rem;
}

.article-content h3 {
    margin-right : 120px;
}

.article-content h3 a {
    color : var(--color-primary-300);
    font-size: 1.5rem;

} 

.article-tag {
    max-width: fit-content;
}

.article-tag a {
    color : var(--color-secondary-100);
    font-weight: 600;
    text-transform: uppercase;
}

.article-tag a::before {
    content : '#';
}

.article-date {
    color : var(--color-primary-100);
}

.wp-block-post-excerpt__excerpt {
    display : none;
}

.wp-block-post-excerpt__more-link {
    display : inline-block;
    margin-top : 2rem;
    padding : 0.5rem 1rem;

    background-color: var(--color-primary-300);
    color : #fff;
}


@media screen and (min-width : 600px) {

    .article-tag {
        position: absolute;
        top : 0.5rem;
        right : 0;
        left : auto;
        text-align : right;
    }

    .wp-block-post-excerpt__excerpt {
        display : block;
        margin-top : 1rem;
    }
}
