---
import type { Menu, SiteInfo, MenuItem } from "../lib/types";


import { navQuery } from "../lib/api";

const res = await navQuery()
const primaryMenu = res.menus.nodes.filter((menu: Menu) => menu.name === 'Header')[0]
const siteInfo: SiteInfo = res.generalSettings
---


<header>
    <nav>
        <div>
            <a href="/" class='site-name'>{siteInfo.title}</a>
        </div>
        {primaryMenu.name}
        <ul>
            { primaryMenu.menuItems.nodes.map( (menuItem: MenuItem) => (
                <li>
                    <a href={menuItem.uri || '/'} set:html={menuItem.label}></a>
                </li>
            ))}
        </ul>
    </nav>
</header>