---
import type { Menu, SiteInfo, MenuItem } from "../lib/types";


import { navQuery } from "../lib/api";

const res = await navQuery()
const primaryMenu = res.menus.nodes.filter((menu: Menu) => menu.name === 'Header')[0]
const siteInfo: SiteInfo = res.generalSettings
---


<header>
    <a href="/" class="logo-link">
        <span class="logo-tc">Tri-City</span>
        <img src="/img/logo.png" />
        <span class="logo-bb">Bikes & Brews</span>
    </a>
    <nav>

        <ul>
            { primaryMenu.menuItems.nodes.map( (menuItem: MenuItem) => (
                <li>
                    <a href={menuItem.uri || '/'} set:html={menuItem.label}></a>
                </li>
            ))}
        </ul>
    </nav>
</header>


<style>

header {
    width : 100%;
    max-width: var(--page-max-width);
    margin-inline: auto;
    padding-inline : 1rem;
    padding-block : 1rem;
    border-radius: 1rem;
    background: linear-gradient(
        transparent,
        hsl( var(--color-secondary-100), 0.15 )
    );
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display : flex;
    gap : 1rem;
    align-items: center;
    justify-content: center;
    width : 100%;
    margin-top : 0.5rem;
    list-style-type: none;
}

li {
    padding-right: 1rem;
    border-right : 2px solid hsl( var(--color-secondary-500), 0.2 )
}
li:last-child {
    padding : 0;
    border : 0;
}

a {
    text-decoration: none;
}

li a {
    display : inline-block;
    padding-block : 0.2rem;
    font-size: 1.1rem;
    color : hsl( var(--color-secondary-300) );
    font-weight : bold;
}

li a:hover {
    color : hsl( var(--color-primary-300) );
    text-decoration : underline
}

</style>

<style is:inline>

.logo-link {
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 1rem;
    margin-inline: auto;
    color : #333;
}

.logo-tc {
    font-family: 'Intro Rust';
    font-size: 1.6rem;
}

.logo-bb {
    font-family : 'Intro Script';
    font-size: 1.7rem;
    font-weight: bold;
}


</style>