---
import type { Menu, SiteInfo, MenuItem } from "../lib/types";


import { navQuery } from "../lib/api";

const res = await navQuery()
const primaryMenu = res.menus.nodes.filter((menu: Menu) => menu.name === 'Header')[0]
const siteInfo: SiteInfo = res.generalSettings
---


<header>
    <nav>
        <div>
            <a href="/" class="logo-link">
                <img src="/img/logo.png" />
                <div class="logo-text">
                    <span class="logo-tc">Tri-City</span>
                    <span class="logo-bb">Bikes & Brews</span>
                </div>
            </a>

        </div>
        <ul>
            { primaryMenu.menuItems.nodes.map( (menuItem: MenuItem) => (
                <li>
                    <a href={menuItem.uri || '/'} set:html={menuItem.label}></a>
                </li>
            ))}
        </ul>
    </nav>
</header>


<style is:inline>

header {
    width : 100%;
    max-width: var(--page-max-width);
    margin-inline: auto;
    margin-block : 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display : flex;
    gap : 1rem;
    align-items: center;
    list-style-type: none;
}

a {
    text-decoration: none;
}

li a {
    color : var(--color-secondary-300);
    font-weight : bold;
}

.logo-link {
    display : flex;
    align-items: center;
    gap : 1rem;
    color : #333;
}

.logo-tc, .logo-bb {
    display : block;
}

.logo-tc {
    font-family: 'Intro Rust';
    font-size: 1.6rem;
}

.logo-bb {
    font-family : 'Intro Script';
    font-size: 1.4rem;
}


</style>